.infobox{:class => "infobox-#{box_type}"}
  .infobox-icon
    %i.ace-icon.fa.fa-comments
  .infobox-data
    .infobox-data-number
      %span= "32"
    .infobox-content="comments + 2 reviews"
  .stat.stat-success= "8%"
