.infobox{:class => "infobox-#{box_type}"}
  .infobox-progress
    .easy-pie-chart.percentage{'data-percent' => "61", 'data-size' => "39", :style => "width: 39px; line-height: 38px;"}
      %span.percent="6%"
  .infobox-data
    .infobox-data-number
      %span= "32"
    .infobox-content="comments + 2 reviews"
  .stat.stat-success= "8%"
