.infobox.infobox-small.infobox-dark{:class => "infobox-#{box_type}"}
  .infobox-progress
    .easy-pie-chart.percentage{'data-percent' => "61", 'data-size' => "39", :style => "width: 39px; line-height: 38px;"}
      %span.percent="61%"
  .infobox-data
    .infobox-content="Task"
    .infobox-content="Completion"
