@import "bootstrap-sprockets";
@import "bootstrap";

 /* Layout */
.center-align  { text-align: center;  }
.image-bg-city-height { margin-right: -15px; }

.purple-top { border-top: 1px solid #BDA0CB; }
.purple-btn { border-bottom: 4px solid #BDA0CB;}

/* Notifications */
.error { color: #f26c4f; }
.success { color: #3c763d; }
.big-font { font-size: 16px;}
.alert { margin: 0 0 10px !important; }

.alert-notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-alert{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

/* Login pages */
.email, .password, #user_name, #user_email, #user_password, #user_password_confirmation {
  width: 250px;
}
/***************/

/* Admin::Users Map */
#google_map{
  width: 600px;
  height: 400px
}
/*******************/

/* Margins */
.margin-lg-top    { margin-top: 30px;    }
.margin-lg-left   { margin-left: 30px;   }
.margin-lg-right  { margin-right: 30px;  }
.margin-lg-bottom { margin-bottom: 30px; }

.margin-sm-top    { margin-top: 15px;    }
.margin-sm-left   { margin-left: 15px;   }
.margin-sm-right  { margin-right: 15px;  }
.margin-sm-bottom { margin-bottom: 15px; }
